.introduccion{
    background-color: rgb(255, 255, 255);
    display: flex;

    .derecha {
        background-color: aqua;
        flex: 0.5;
    }
    .izquierda{
        background-color: aquamarine;
        flex: 0.5;
    }
}